@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: #fff;
}
.navbar{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    padding: 10px 0;
}
.navbar img{
  width: 250px;
}
.logOutbtn{
    border: none;
    padding: 10px 30px;
    background-image: linear-gradient(to right, #02AAB0 0%, #00CDAC  51%, #02AAB0  100%);
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    cursor: pointer;
      
     
}
.logOutbtn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}
.imgItem{
    width: 100%;
    background: rgb(7,2,88);
    background: linear-gradient(3deg, rgba(7,2,88,1) 0%, rgba(5,5,222,1) 0%, rgba(0,212,255,1) 100%);
    margin-top: 90px;
    height: 230px;
}
.container{
    max-width: 1150px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.headingInformatik{
    font-family: 'Pacifico', cursive;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
    transform: rotate(-17deg);
    display: inline-block;
    margin-top:80px;
}
.imgItemLeft{
  display: flex;
  justify-content: space-between;
  position: relative;
}


.sidebar{
  width: 100%;
}
.sidebar .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.sidebar .container a{
  text-decoration: none;
  font-size: 30px;
  margin: 10px 0;
  color: black;
  font-weight: lighter;
  transition: all 0.2s ;
}
.sidebar .container a:hover{
  opacity: 0.7;
}

.info{
  width: 100%;
  background-image: url(../img/bgImg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 30px;
  padding-bottom: 30px;
}
.container1{
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  display: flex;
  gap: 30px;
}
.category{
  width: 200px;
  padding: 10px;
}
.headingCategory{
  text-align: center;
}
.item{
  height: 100vh;
  margin-top: 20px;
}
.blog{
  margin-top: 10px;
  padding: 10px;
  width: 800px;
}
.clock{
  text-align: center;
  padding-top: 40px;
  background: blue;
  color: #fff;
  letter-spacing: 2px;
  width: 200px;
}

.span{
  font-size: 40px;
  letter-spacing: 3px;
}
/* ---------------------- animation item ------------------------  */

  

#console p {
    font-family: monospace;
    font-weight: bold;
    font-size: 4.1vh;
    margin: 0;
    padding: 0;
    line-height: 1;
    color: limegreen;
    text-shadow: 0px 0px 10px limegreen;
  }
  
  .msg {
    font-family: monospace;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 5vh;
    background: red;
    box-shadow: 0 0 30px red;
    text-shadow: 0 0 20px white;
    color: white;
    padding : 10px;
    margin-top: 80px;
    text-align: center;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

body {
	font-size: 1.4rem;
    box-sizing: border-box;
}
::-webkit-scrollbar{
  width: 7px;
}


/* ---------------------- animation item ------------------------  */

.link{
  font-family: 'Kdam Thmor Pro', sans-serif;
}
.headingStatus{
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 24px;
  text-align: center;
  margin-top: 50px;
}
.informatika, .matematika{
  display: block;
  padding: 10px 30px;
  border: none;
  text-decoration: underline;
  text-align: center;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
.main{
  margin-left: auto;
  text-align: right;
}
.main1{
  margin-right: auto;
  text-align: left;
}
.calendar{
  margin-top: 100px;
}
.googeSigin,.googeSigun{
  display: flex;
  align-items: center;
}
.googeSigin img{
  width: 100px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
}
.googeSigun img{
  width: 40px;
}





@media only screen and (max-width: 850px) {
    .navbar>img{
      width: 170px;
    }
    .googeSigun img{
      width: 27px;
    }
    .navbar{
      display: flex;
      align-items: center;
    }
    .logOutbtn{
      margin-left: 5px;
      padding: 10px 20px;
    }
    
    .imgItemLeft{
      display: grid;
      grid-template-columns: repeat(1,1fr);
    }
    .headingInformatik{
      text-align: center;
      margin-top: 0px;
      transform: rotate(0);
    }
    
    .msg{
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      margin-top: 10px;
    }
    .headingStatus{
      margin-top: 10px;
    }
    .sidebar .container{
      display: flex;
      align-items: center;
      text-align: center;
      flex-wrap: wrap;
    }
    .info .container1{
      display: block;
    }
    .category{
      width: 100%;
      height: 50vh;
    }
    .blog{
      width: 100%;
      height: 100%;
      margin-top: 20px;
    }
    .clock{
      width: 100%;
    }
    .calendar{
      margin-top: 20px;
    }
}


section{
  position: relative;
}
.snow1{
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

}